extends layout

block content
  canvas#game(width="640px", height="480px")

  h5 instructions
  p WASD or arrow keys to move
  p mouse to fire
  p I'll add touch controls at the end of day 2
  p This is work in progress, as rudimentary as it gets
  p code can be found at <a href="https://github.com/robashton/ld48_27">github</a>

