extends layout

block content
  #intro
    h1 10 Second Hell
    h5 Instructions
    p <b>WASD</b> or <b>arrow keys</b> to move, <b>mouse</b> to fire
    p Don't let the time run out, collect the power-ups to stay alive
    a.btn.btn-large.btn-primary#start Start

  #play
    canvas#game(width="640px", height="480px")

    .instructions
      h5 Avoid these
      img(src="redenemy.png")
      img(src="orangeenemy.png")
      img(src="greyenemy.png")
      img(src="blueenemy.png")

      h5 Collect these
      img(src="powerup.png")
      img(src="time.png")
      img(src="heart.png")

      h5.time Don't let time run out
      h5.health Don't let health run out

      h5 WASD/Arrow keys to move
      h5 Mouse to aim and fire
  
  #over
    h2 OH NO DEAD!
    p You got <div id="score"></div> points
    a.btn.btn-large.btn-primary#restart Try again


