body 
  padding: 10px
  background-color: #000
  color: #FFF

#intro
  display: block

#play, #over
  display: none

  #game
    float: left
    border: 5px solid #FFF

  .instructions
    float: left
    margin-left: 20px
    padding: 20px
    border 5px solid #FFF

    img
      width: 15px
      height: 15px

  h5.time
    color: #000
    background-color: #FF0
  h5.health
    color: #000
    background-color: #080

